.page {
    width: 100%;
    max-width: 1184px;
    margin: 0 auto 40px auto;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
img {
    max-width: 100%;
}
.header {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 17px;
}
.header a {
    text-decoration: none;
    color: #000;
}
.header_logo {
    margin-right: 39px;
}
.header_menu {
    display: flex;
}
.header_list {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin-top: 27px;
    margin-right: 365px;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
}
.header_telephone {
    list-style: none;
    margin-top: 27px;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
}
h1 {
    margin-top: 46px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 120px;
    line-height: 120px;
    text-align: center;
}
.main_lead {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
}
.main_foto {
    align-items: center;
    max-height: 793px;
}
.main_description {
    margin-top: 170px;
    margin-bottom: 130px;
    display: flex;
}
.left_up {
    margin-top: -37px;
}
.left_down {
    margin-bottom: 434px;
}
.right_up {
    margin-top: 13px;
}
.right_down {
    margin-bottom: 274px;
}
.paragraph {
    display: flex;
    background-color: #DDE9F0;
    padding: 0;
    max-height: 589px;
    margin-bottom: 100px
}
.paragraph_box {
    padding: 0;
    margin: 24px 70px 0px 54px;
}
h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 26px;
}
.h2_box {
    margin-bottom: -11px;
}
p {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    min-width: 267px;
    margin-bottom: 16px;
}
.footer {
    display: flex;
    flex-flow: row wrap;
}
.footer a {
    text-decoration: none;
    color: #000;
}
.footer_logo {
    margin-right: 40px;
}
.footer_contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    padding: 0;
}
.footer_media {
    display: flex;
    list-style: none;
    gap: 22px;
    padding-top: 59px;
    order: 999;
    margin-left: auto;
}
